<!DOCTYPE html>
<html>
<head>
    <title>Web Scraper</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>

        body {
         font-family: 'Montserrat', sans-serif;
         margin: 0;
         padding: 0;
         height: 100vh;
         display: flex;
         justify-content: center;
         align-items: center;
         background-image: url('https://cdn.prod.website-files.com/61d59ec665a5ad81e194acc6/63d7f1b306ac6e50d0ecb00b_61e9a038035111529600196c_market-brew-bias-weight-settings-small%5B1%5D.gif'); /* Replace with your background image URL */
         background-size: cover;
         background-position: center;
         color: #ffffff;
     }
     
     .container {
         background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
         padding: 40px;
         border-radius: 15px;
         box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
         width: 100%;
         max-width: 600px;
         text-align: center;
         backdrop-filter: blur(10px); /* Adds a blur effect to the background */
     }
     
     h1 {
         font-size: 3em;
         margin-bottom: 20px;
         color: #d1cfce;
         text-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
     }
     
     p {
         margin-bottom: 30px;
         font-size: 1.2em;
         color: #ecf0f1;
     }
     
     input[type="text"] {
         width: 100%;
         padding: 15px;
         margin-bottom: 20px;
         border: 2px solid #3ce778;
         border-radius: 10px;
         font-size: 1.2em;
         color: #ffffff;
         background-color: rgba(255, 255, 255, 0.2);
         backdrop-filter: blur(5px);
         transition: border-color 0.3s ease, background-color 0.3s ease;
     }
     
     input[type="text"]:focus {
         border-color: #c0392b;
         background-color: rgba(255, 255, 255, 0.3);
         outline: none;
     }
     
     button {
         background-color: #e74c3c;
         color: #ffffff;
         padding: 15px 30px;
         font-size: 1.2em;
         border: none;
         border-radius: 10px;
         cursor: pointer;
         transition: background-color 0.3s ease, transform 0.3s ease;
     }
     
     button:hover {
         background-color: #c0392b;
         transform: scale(1.05);
     }
     
     footer {
         margin-top: 30px;
         font-size: 0.9em;
         color: #bdc3c7;
         text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
     }
     
     </style>
</head>

<body>
    <h1>Web Scraper</h1>
    <form action="/scrape" method="POST">
        <input type="text" name="url" placeholder="Enter URL" required>
        <button type="submit">Scrape</button>
    </form>
</body>

</html>
